/* SEE CLSCHEMA.CLR FOR COLORS */
html {
	font-family: Arial;
	color: black;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: #4e4e4e;
}

::-webkit-scrollbar-thumb {
	background-color: #777777;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #999999;
}

body {
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 0 auto;
}

.body {
	background-color: #eeeeee;
	width: 100%;
	height: auto;
	margin: 50px auto 0 auto;
}

a {
	text-decoration: none;
}

.banner {
	position: fixed;
	top: 0;
	color: #aaaaaa;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #4e4e4e;
}

.inline {
	vertical-align: middle;
	display: inline-block;
	padding: 0px 5px;
}

.nav {
	height: 50px;
}

.head-banner {
	width: 100px;
	height: 45px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.head-banner h1 {
	margin: 0;
	padding: 0;
	color: #dddddd;
}

.login {
	float:right;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #dddddd;
}

.profile {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}

.login:hover {
	background-color: #92ABD8;
}

.search {
	height: 50px;
}

.search button {
	width: 70px;
	height: 33px;
	margin-left: -7px;
	background-color: #4e4e4e;
	border: 2px solid #dddddd;
	color: #dddddd;
}

.search button:hover {
	background-color: #92ABD8;
	border: 2px solid #dddddd;
	color: #4e4e4e;
	font-weight: bold;
}

.search input:focus {
	border: 2px solid #92ABD8;
	transition: border 200ms;
}

.search input {
	padding: 2px;
	margin: 0;
	width: 300px;
	height: 25px;
	background-color: #4e4e4e;
	border: 2px solid #dddddd;
	color: #dddddd;
	transition: border 200ms;
}

.nav a {
	display: inline-block;
	width: 150px;
	text-align: center;
	color: #dddddd;
	line-height: 40px;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.nav a:hover {
	color: #92ABD8;
	border-bottom: 3px solid #92ABD8;
	transition: border 200ms;
}

.link {
	color: white;
}

.link:hover {
	color: #92ABD8 !important;
}


.header {
	width: 100%;
	height: 250px;
}

.container {
	width: 100%;
	height: 1000px;
}

.light {
	background-color: #dddddd;
	color: #4e4e4e;
}

.dark {
	background-color: #4e4e4e;
	color: #dddddd;
}

.blue {
	background-color: #92ABD8;
}

.footer {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	text-align: center;
	background-color: #4e4e4e;
	color: #dddddd;
}

.footnav {
	width: 125px;
}

.footer p {
	padding: 0;
	margin: 0;
	line-height: 20px;
}

.head-img {
	padding: 10px;
}

.lang {
	display: inline-block;
	width: 48px;
	height: 32px;
	filter: grayscale(75%);
}

.languages {
	width: auto;
	height: 40px;
	text-align: center;
}

.lang:hover {
	filter: none;
}

.selected {
	filter: none;
}